.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 0 0.75rem;
  height: 2.625rem;             
  display: flex;
  border-bottom: 0.062rem solid #e0e0e0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;           
  top: 2.625rem;                 
  z-index: 1999;             
}

.logo-section {
  display: flex;
  align-items: center;           
  gap: 0.4rem;                   
}

.logo-circle {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #6a1b9a;
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  align-items: center;           
  justify-content: center;       
  box-shadow:  0 0.062rem 0.18rem rgba(106, 27, 154, 0.25);;
}

